body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container1, .container2, .container3, .container4{
    padding-left: 100px;
    padding-right: 100px;
}

.container3, .container4{
    margin-top: 75px;
    margin-bottom: 75px;
}

.content{
    flex-grow: 1;
}

/*-----------------------CONTAINER 1-----------------------*/


.header{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.box457{
    display: flex;
    flex-direction: column;
}


.container1{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.contain h1, .contain p {
    margin: 0;
}

.placeholder{
    height: 150px;
    width: 350px;
    flex-basis: 150px;
    border-radius: 0.5cm;
    background-color: rgb(105, 160, 105);
    flex-shrink: 1;
    flex-grow: 0;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2cm;
    width: 90px;
    height: 30px;
    color: white;
    background-color: rgb(1, 73, 1);
    border: none;
    margin-top: 10px;
}

a, .logo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul{
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;    
}

/*-----------------------CONTAINER 2-----------------------*/

.container2 h2{
    text-align: center;
}

.information {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 52px;
}

.img {
    height: 150px;
    width: 150px;
    border-radius: 0.3cm;
    justify-content: center;
}

.one{
    background-color: rgb(105, 160, 105);
}

.two{
    background-color: rgb(86, 131, 86);
}

.three{
    background-color: rgb(73, 110, 73)
}

.four{
    background-color: rgb(55, 82, 55);
}

.info{
    width: 150px;
    align-items: center;
}


/*-----------------------CONTAINER 3-----------------------*/

.container3{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 100px 100px;
}

.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    width: 700px;
}

.quote-sauce{
    text-align: right;
}

/*-----------------------CONTAINER 4-----------------------*/

.container4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: antiquewhite;
    display: flex;
    flex-basis: 1000px;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border-radius: 0.3cm;
}







.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(82, 121, 82);
    color: white;
}